:root {
    --color-primary: #191e3b;
    --color-white: #ffffff;
    --color-border: #9ad0c2;
    --font-inter: 'Inter', sans-serif;
    --header-height: 70px; 
    
    /* COLORES CRÍTICOS DEL FORMULARIO AÑADIDOS */
    --color-blue-dark: #265073; /* Bordes de inputs, Texto de inputs */
    --color-gray-line: #7E7E7E; /* Línea divisoria */
    --color-blue-light: #94B6CC; /* Línea activa */
    --color-yellow: #FDDB32; /* Para iconos */
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-inter);
}

h1 {
    font-weight: 600;
    color: var(--color-primary);
    font-size: 32px;
    letter-spacing: -0.64px;
    margin: 0;
}